<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TODO</title>
  <link rel="stylesheet" type="text/css" href="font/iconfont.css">
  <link rel="stylesheet" type="text/css" href="./css/index.css">
  <link rel="shortcut icon" type="image/x-icon" href="ico.ico">
</head>
<body>
  <div id="app">
    <header>
      <div class="nav">
        <div class="title">TODO</div>
      <!--  <div class="search">
          <input v-model='searchValue' @keyup.enter='search'></input>
          <i
            @click='clearSearchValue'
            :class="['iconfont', searchValue.length == 0 ? 'icon-search' : 'icon-delete']"></i>
        </div> -->
        <div class="login">Login</div>
        <todo-dialog v-if='showLogin'>
          <login-dialog
            @submit='login'></login-dialog>
        </todo-dialog>
      </div>

      <!-- <div class="dialog"></div> -->
    </header>

    <todo-app :todos='todos' class='todo-app'>
      <todo-dialog v-if='showDialog'>
        <list-dialog
          :listdata='listData'
          @cancel='cancel'
          @submitlist='submitList'
          :todo='listData'></list-dialog>
      </todo-dialog>

      <div class="todo-title">
        <div class="todo-title-header">清单列表</div>
        <ul>
          <li 
            is='todo-title' 
            v-for='(todo, index) in todos' 
            :todo='todo'
            :title='title'
            :index='index'
            @handleListTitle='handleListTitle'
            @editlist='editList'
            @deletelist='deleteList'
            ></li>
        </ul>
        <button class="addNewList" @click='addNewList'>
          <i class="iconfont icon-add1"></i>
        </button>
      </div>
      <template slot='content' slot-scope='content'>
        <list
          :title='title'
          :count='content.index'
          :lists='content.todo.lists'
          :inputval='inputVal'
          :editval='editVal'
          :choosetab='chooseTab'
          :editindex='editIndex'
          @changeStatus='changeStatus'
          @edititem='editItem'
          @deleteitem='deleteItem'
          @addnewitem='addNewItem'
          @confirmedit='confirmEdit'
        >
        <todo-tab
          :choosetab='chooseTab'
          :titles='titles'
          @tabchange='tabChange'></todo-tab>
        </list>
      </template>
      <div class="nothing" v-if='todos.length == 0'>还没有清单呢</div>
    </todo-app>

    <footer></footer>
  </div>

  <script type="text/javascript" src="./js/axios.min.js"></script>
  <script type="text/javascript" src="./js/vue.js"></script>
  <script type="text/javascript" src="./js/index.js"></script>
</body>
</html>