<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TODO</title>
  <link rel="stylesheet" type="text/css" href="font/iconfont.css">
  <link rel="stylesheet" type="text/css" href="./css/index.css">
  <link rel="shortcut icon" type="image/x-icon" href="ico.ico">
  <script type="text/javascript" src="./js/vue.js"></script>
</head>
<body>
  <div id="app" v-cloak>
    <header>
      <div class="nav">
        <div class="title">TODO</div>
      <!--  <div class="search">
          <input v-model='searchValue' @keyup.enter='search'></input>
          <i
            @click='clearSearchValue'
            :class="['iconfont', searchValue.length == 0 ? 'icon-search' : 'icon-delete']"></i>
        </div> -->
        <div 
          v-if='!username' 
          class="login" 
          @click='showLogin = true'>Login</div>
        <div
          class='username'
          v-else>
          {{ username }}
          <div class="userMenu">
            <span class="triangle"></span>
            <ul>
              <li @click='clearStorage'>删除本地记录</li>
              <li @click='logout'>退出登录</li>
            </ul>
          </div>
        </div>
      </div>
      <todo-dialog @hidedialog='showLogin = false' v-if='showLogin'>
        <login-dialog 
          @login='userAction' 
          @reg='userAction'
          :beforesend='beforeSend'
          :message='userMessage'>
        </login-dialog>
      </todo-dialog>
    </header>

    <todo-app :todos='todos' class='todo-app'>
      <todo-dialog @hidedialog='showDialog = false' v-if='showDialog'>
        <list-dialog
          :listdata='listData'
          @cancel='cancel'
          @submitlist='submitList'
          :todo='listData'>
        </list-dialog>
      </todo-dialog>

      <div class="warning" v-show='warning'>
        {{ warningText }}
      </div>

      <div class="waiting" v-show='waiting'>
        <i class="iconfont icon-loading"></i>
      </div>

      <div class="tips" :style="tipsData.style" v-show='tipsData.show'>
        <!-- <span class="triangle"></span> -->
        <span>{{tipsData.words}}</span>
      </div>

      <div class="todo-title">
        <div class="todo-title-header">清单列表</div>
        <ul>
          <li 
            is='todo-title' 
            v-for='(todo, index) in todos' 
            :todo='todo'
            :title='title'
            :index='index'
            @handleListTitle='handleListTitle'
            @editlist='editList'
            @deletelist='deleteList'
            ></li>
        </ul>
        <div class="buttonMenu">
          <button class="addNewList"
            @click='addNewList'
            @mouseenter='showTips("新增清单", $event)'>
            <i class="iconfont icon-add"></i>
          </button>
          <button class="exportFile"
            @click='exportFile'
            @mouseenter='showTips("导出json文件", $event)'>
            <i class="iconfont icon-cloud-down"></i>
          </button>
          <button class="importFile"
            @click='importFile'
            @mouseenter='showTips("导入json文件", $event)'>
            <i class="iconfont icon-cloud-up"></i>
            <input type="file"></input>
          </button>
        </div>
      </div>

      <template slot='content' slot-scope='content'>
        <list
          :title='title'
          :count='content.index'
          :lists='content.todo.lists'
          :inputval='inputVal'
          :editval='editVal'
          :choosetab='chooseTab'
          :editindex='editIndex'
          @changeStatus='changeStatus'
          @edititem='editItem'
          @deleteitem='deleteItem'
          @addnewitem='addNewItem'
          @confirmedit='confirmEdit'
        >
        <todo-tab
          :choosetab='chooseTab'
          :tabtitles='tabTitles'
          @tabchange='tabChange'></todo-tab>
        </list>
      </template>
      <div class="nothing" v-if='todos.length == 0'>还没有清单呢</div>
    </todo-app>

    <footer></footer>
  </div>

  <script type="text/javascript" src="./js/axios.min.js"></script>
  <script type="text/javascript" src="./js/index.js"></script>
</body>
</html>