@font-face {
  font-family: 'Josefin_Sans';
  src: url('/font/JosefinSans-Regular.ttf');
  font-display: fallback;
}
html, body {
  font-family: 'Josefin_Sans', 'Microsoft JhengHei', 'Microsoft YaHei';
}
body {
  background: #f4f7f6;
}
html, body, ul {
  margin: 0;
  padding: 0;
}
input {
  border: 0;
  outline: none;
  background: none;
}
/* 设置滚动条的样式 */
body::-webkit-scrollbar {
  width: 6px;
}
/* 滚动槽 */
body::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #eee;
}
/* 滚动条滑块 */
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, .2);
}
body::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, .2);
}
/* 设置滚动条的样式 */
.todo-title::-webkit-scrollbar {
  width: 0;
}

header {
  background: #444c5f;
  background: linear-gradient(to right, #02AAB0, #00cdac);
  height: 70px;
  letter-spacing: 2px;
}
#app {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  padding-bottom: 77px;
  min-height: 88%;
}
.nav {
  line-height: 70px;
  color: #fff;
}
.search {
  position: relative;
}
.search i {
  position: absolute;
  right: 8px;
  z-index: 1;
  top: 0;
  color: rgba(255, 246, 246, 0.44);
}
.search input {
  background: rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 20px;
  color: #fff;
  transition: .3s;
}
.icon-delete {
  cursor: pointer;
}
.title {
  font-size: 1.6em;
}
.title img {
  /*vertical-align: sub;*/
  width: 28px;
}
.nav, .todo-app {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.login, .username {
  cursor: pointer;
  position: relative;
}
.arrow {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg) translateY(-2px);
  margin-left: 5px;
}
.todo-app {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: flex-start;
/*  min-width: 960px;
*/}
.todo-app li {
  list-style: none;
  cursor: pointer;
  padding: 10px;
  transition: .3s;
  margin: 1px auto;
  position: relative;
}
.todo-title, .todo-list {
  box-shadow: 0 0 18px rgba(228, 228, 228, 0.38);
  border-radius: 4px;
  background: #fcfcfc;
}
.titleActive::before {
  content: '';
  width: 1px;
  position: absolute;
  height: 100%;
  background: #02b7af;
  left: 0;
  top: 0;
}
.todo-title-header {
  height: 45px;
  line-height: 45px;
  background: #01b2af;
  color: #fff;
  text-indent: 10px;
}
.todo-title {
  width: 18%;
  min-width: 225px;
  position: relative; 
  margin-right: 2%;
}
.todo-title ul {
  overflow: hidden;
  padding-bottom: 30px;
}
.todo-list {
  width: 80%;
  padding: 15px;
  box-sizing: border-box;
  padding-top: 0;
}
.todo-list li {
  transition: .3s;
  border-bottom: 1px solid #ccc;
  position: relative;
  display: flex;
}
.todo-list li:hover {
  border-bottom-color: #01bdae;
}
.todo-list li div:nth-child(2) {
  flex: 1;
}
.todo-list li, .todo-list li i {
  font-size: 20px;
}
.checked .listContent, .checked .checkRadio i {
  color: #ccc;
}
.checked .listContent {
  text-decoration: line-through;
  transition: .3s;
}

.icon-edit {
  font-size: 1.1em !important;
}
.editList {
  float: right;
}
.deleteList {
  float: right;
}

.addNewItem {
  height: 55px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  font-size: 1.1em;
  text-indent: 10px;
  transition: .3s;
}
.addNewItem:focus {
  border-bottom-color: #02abb0;
}
.editItem {
  float: right;
}
.deleteItem {
  float: right;
}
.flex-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-items: auto;
}
.listContent {
  max-width: 87%;
  display: inline-block;
  margin-left: 20px;
  cursor: text;
  word-break: break-all;
}
.editInput {
  position: absolute;
  left: 0;
  background: #fcfcfc;
  height: 100%;
  top: 0px;
  width: 100%;
  font-size: 20px;
  font-weight: 100;
  z-index: 1;
  border-left: 2px solid #02b9af;
  transition: .3s;
  box-sizing: border-box;
  padding-left: 10px;
}

.dialog {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
}
.dialog-body {
  background: #fff;
  margin: auto;
  top: 100px;
  right: 0;
  left: 0;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: hidden;
  margin-top: 100px;
}
.dialog-body label {
  color: #000;
  width: 70px;
  display: inline-block;
  text-align: right;
  margin-right: 10px;
}
.dialog-body input {
  border: 1px solid #ccc;
  padding: 3px;
  border-radius: 2px;
  background: #fff;
  padding: 9px;
  border-radius: 4px;
}
.dialog-content {
  padding: 10px;
}
.dialog-content .form-control {
  margin: 10px auto;
}
.dialog-footer {
  /* position: absolute; */
  bottom: 0;
  display: flex;
  width: 100%;
  height: 30px;
  left: 0;
}
.dialog-footer button {
  width: 50%;
  height: 30px;
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
}
.dialog-footer button:first-child {
  background: #e4e4e4;
}
.dialog-footer button:last-child {
  background: #00bfad;
  color: #fff;
}

.login-form {
  /* margin-top: 30px; */
  position: relative;
  padding: 20px;
}
.login-form .form-control button {
  background: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
}
.form-control button.login {
  background: #01baae;
  color: #fff;
}
.form-control button.login:active {
  background: #179a8a;
}
.form-control button.reg {
  border: 1px solid #16caaf;
  color: #0f9280;
}
.form-control button.reg:active {
  background: #f7f7f7;
}
.userMessage {
  text-align: center;
}
footer {
  text-align: center;
  width: 100%;
  margin-top: 100px;
  position: absolute;
  bottom: 10px;
}
.footer-content {
  width: 80%;
  margin: auto;
  color: #555;
}
.footer-content a {
  color: #01beae;
  text-decoration: none;
}
.footer-content .icon-GitHub {
  color: #555;
}
.buttonMenu {
  position: absolute;
}
.buttonMenu button, .buttonMenu label {
  border: none;
  padding: 5px 10px;
  border-radius: 50%;
  margin: auto;
  left: 0;
  right: 0;
  width: 40px;
  outline: none;
  margin-top: 10px;
  height: 40px;
  box-shadow: 1px 1px 3px #c6d8d7;
  color: #fff;
  transition: .5s;
  cursor: pointer;
}
.buttonMenu label {
  display: inline-block;
  padding: 0;
  text-align: center;
  line-height: 40px;
}
.addNewList {
  background: rgba(2, 182, 175, 0.62);
}
.addNewList:hover {
  transform: rotate(360deg);
}
.addNewList:active {
  transform: scale(.9);
  background: #00cbac;
}
.exportFile {
  background: #fbb3b3;
}
.exportFile:hover {
  background: #f19797;
}
.exportFile:active {
  transform: scale(.9);
  background: #f19797;
}
.importFile {
  background: #bfb3fb;
}
.importFile:hover {
  background: #daa4ea;
}
.importFile:active {
  transform: scale(.9);
  background: #daa4ea;
}
.todo-tab {
  display: flex;
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin-bottom: 11px;
  cursor: pointer;
}

.tab-active:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: #01b9ae;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  /*animation: long .3s forwards;*/
  /*opacity: 0;*/
}

@keyframes long {
  to {
   opacity: 1;
  }
}
.tab-item {
  flex: 1;
  text-align: center;
  transition: .3s;
  position:  relative;
}
.nothing {
  color: #757171;
  text-align: center;
}
.nothing {
  width: 100%;
  text-align: center;
}
.load {
  animation: loading 1s cubic-bezier(0.24, 0.21, 0.38, 0.54) infinite;
  display: inline-block;
}
@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}
.username:hover .userMenu {
  display: block;
}
.triangle {
  width: 0;
  height: 0;
  border: 10px solid #fff;
  border-left-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  position: absolute;
  top: -10px;
  border-top: none;
  /* box-shadow: 0 0 10px #ccc; */
  /*left: 18px;*/
  right: 8px;
}
.userMenu {
  display: none;
  position: absolute;
  z-index: 122;
  top: 60px;
  background: #fcfcfc;
  color: #000;
  font-size: .9em;
  box-shadow: 0 0 10px #ccc;
  width: 119px;
  right: -14px;
}
.userMenu li {
  list-style: none;
  line-height: 1.5em;
  cursor: pointer;
  padding: 5px 10px;
  transition: .3s;
}
.userMenu li:hover {
  color: #02aab0;
}
.messageDiv {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  flex-direction: column;
}
.warning {
  /*position: fixed;*/
  /*z-index: 100;
  left: 0;
  right: 0;*/
  width: 240px;
  margin: auto;
  background: rgba(1, 192, 174, 0.74);
  box-shadow: 0 0 10px #ccc;
  color: #fff;
  padding: 10px;
  top: 150px;
  text-align: center;
}
.waiting {
  /*position: fixed;*/
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
 /* left: 0;
  right: 0;*/
  /*margin: auto;*/
  background: #ccc;
  border-radius: 50%;
  color: #f4f7f6;
  animation: topToBottom 1s forwards;
  transform: scale(0);
}
@keyframes topToBottom {
  to {
    background: #02aab0;
    box-shadow: 0 0 10px #ccc;
    transform: scale(1);
  }
}

.waiting i {
  display: inline-block;
  animation: waiting cubic-bezier(0.02, 0.03, 1, 1) 1s infinite;
}
@keyframes waiting {
  to {
    transform: rotate(360deg); 
  }
}
    
.tips {
  position: absolute;
  background: rgba(1, 178, 175, 0.45);
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  z-index: 1;
}

.hideLeft {
  left: -225px;
}
.showLeft {
  animation: toRight .3s forwards;
}
@keyframes toRight {
  to {
    left: 0;
  }
}
.menu {
  display: none;
}
.username-icon {
  display: none;
}
@media screen and (max-width: 1000px) {
  .nav, .todo-app {
    width: 97%;
  }
}

.grey {
  background: rgba(0, 0, 0, 0.57);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.phone-username {
  display: none;
}
@media screen and (max-width: 700px) {
  .phone-username {
    display: block;
  }
  header {
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 1;
  }
  .nav {
    line-height: 50px;
  }
  .title {
    font-size: 1.2em;
  }
  .todo-app {
    margin-top: 90px;
  }
  .nav, .todo-app {
    width: 90%;
  }
  .menu {
    display: block;
    cursor: pointer;
  }
  .todo-title {
    position: fixed;
    top: 0;
    background: #fff;
    height: 100%;
    /*width: 45%;*/
    /*left: 0;*/
    z-index: 3;
    border-radius: 0;
    transition: .3s;
    overflow-y: scroll;
  }
  .username-text {
    display: none;
  }
  .username-icon {
    display: block;
  }
  .userMenu {
    right: -14px;
    top: 50px;
  }
  .triangle {
    left: unset;
    right: 18px;
  }
  .todo-list li, .todo-list li i, .editInput {
    font-size: unset;
  }
  .buttonMenu {
   position: fixed;
   bottom: 0;
   display: flex;
   justify-content: space-between;
   width: 225px;
  }
  .buttonMenu button, .buttonMenu label{
   display: block;
   border-radius: 0;
   flex: 1;
   box-shadow: unset;
   padding: unset;
  }
  .addNewList:hover {
    transform: unset;
  }
  .exportFile:active {
    transform: unset;
  }
  .importFile:active {
    transform: unset;
  }
  .todo-list {
    width: 100%;
  }
}

@media screen and (min-width: 700px) {
  .todo-title {
    left: unset;
  }
}